<div class='home'>
  <h1>KASL</h1>

  <%= link_to '<button>Sign In</button>'.html_safe, new_user_session_path %><br>
  <%= link_to '<button>Sign Up</button>'.html_safe, new_user_registration_path %><br>
</div>
