<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">

  <%= link_to 'KASL', root_path %>

  <ul class="nav navbar-nav">
    <%- if current_user -%>
      <li class="navbar-text">
        Signed in as <%= link_to current_user.email, edit_user_registration_path %>
      </li>

      <li>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </li>
    <%- end -%>
  </ul>
</nav>
